main{
    display: flex;
    gap: 18px;
}

main div{
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 18px;
    margin-top: 18px;
}

.form-cadastrados{
    width: 70%;
}

.details{
    width: 30%;
}